version: 2.1
jobs:
  build:
    machine:
      image: ubuntu-2204:2024.05.1
    environment:
      RQLITE_VERSION: 9.3.10
    steps:
      - checkout
      - run: cat /etc/lsb-release
      - run: pip install pytest pytest-cov
      - run: |
              curl -L https://github.com/rqlite/rqlite/releases/download/v${RQLITE_VERSION}/rqlite-v${RQLITE_VERSION}-linux-amd64.tar.gz -o rqlite-v${RQLITE_VERSION}-linux-amd64.tar.gz
              tar xvfz rqlite-v${RQLITE_VERSION}-linux-amd64.tar.gz
              cp rqlite-v${RQLITE_VERSION}-linux-amd64/rqlited /home/circleci/project/rqlited
      - run:
          name: Run tests
          environment:
                  RQLITED_PATH: /home/circleci/project/rqlited
                  PYTHONPATH: src
          command: pytest -v -s --cov=src --cov-report=term-missing src/test
